################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Thomerson.Woyaopao.Fuban.V5/Thomerson.Woyaopao.Fuban.Core/obj/Debug
