################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Thomerson.Woyaopao.Fuban.V5/Thomerson.Woyaopao.Fuban.Core/obj/Debug
/Thomerson.Woyaopao.Fuban.V5/Thomerson.Woyaopao.Fuban.Service/bin/Debug
/Thomerson.Woyaopao.Fuban.V5/Thomerson.Woyaopao.Fuban.Service/obj/Debug
/Thomerson.Woyaopao.Fuban.V5/Thomerson.Woyaopao.Fuban.Test/bin/Debug
/Thomerson.Woyaopao.Fuban.V5/Thomerson.Woyaopao.Fuban.Test/obj/Debug
/Thomerson.Woyaopao.Fuban.V5/Thomerson.Woyaopao.Fuban.Web/bin
/Thomerson.Woyaopao.Fuban.V5/Thomerson.Woyaopao.Fuban.Web/obj/Debug
/Thomerson.Woyaopao.Fuban.V5/Thomerson.Woyaopao.Fuban.Core/bin/Debug
/Thomerson.Woyaopao.Fuban.V5/packages
/Thomerson.Woyaopao.Fuban.V5/.vs
