<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--woyaopao-->
    <add key="UseRedis" value="1"/>
    <add key="RedisUrl" value="r-uf64b06de44c1e44.redis.rds.aliyuncs.com:6379"/>
    <add key="RedisPassword" value="*******"/>
    <add key="Redis_Fuban_SourseDataKey" value="Redis_Fuban_SourseData"/>
    <add key="Woyaopao_Fuban_DataUri" value="http://baoming.woyaopao.com/woyaopao/queryMatchAndActiviyty.mp?action=activityApplyUser&amp;runStartDate=2017-07-01%2000:00:00&amp;runEndDate=2017-07-02%2000:00:00&amp;activityId=529ae38acb5443898c626e5361ef4b97"/>
    <add key="Woyaopao_Fuban_TotalTarget" value="500000"/>
    <add key="Redis_Fuban_UserId" value="Woyaopao_Fuban_Userid_{0}"/>

    <add key="Woyaopao_Fuban_Sourse_Timespan" value="30000"/>
    <!--30s自动刷新数据-->
    <add key="Redis_Fuban_Overtime" value="300000"/>
    <!--redis 数据默认过期时间5min-->
    <add key="Woyaopao_Fuban_SourseUrl" value="http://baoming.woyaopao.com/woyaopao"/>
    <add key="Woyaopao_Fuban_ApplyUrl" value="http://baoming.woyaopao.com/woyaopao/mobileAction.mp?action=getShare&amp;modeid=7b93b5e04847454186f44863165f119b&amp;modetype=2&amp;traminfoid=null"/>
  </appSettings>
</configuration>