
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>爱心榜</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/Css/Lstyles.css" />
</head>
<body>
    <div id="App">
        <!--head-->
        <div class="head">
            <div class="banner_bg">
                <img src="~/Content/Image/banner_bg.jpg" />
            </div>
            <div class="row">
                <!--爱心大于财富,台商助力微笑儿童-->
                <!--img-->
                <div class="title_img">
                    <img src="~/Content/Image/head_title.png" />
                </div>
            </div>
            <div class="row">
                <div class="wing left">
                    <div><small>{{source.AllMemberCount}}</small></div>
                    <div>参与人数</div>
                </div>
                <div id="indicatorContainerWrap">
                    <div class="rad-prg" id="indicatorContainer" style="height:120px;width:120px;"></div>
                    <div class="rad-cntnt">
                        <div class="numNo">{{source.CompletePercent}}%</div>
                        <div style="font-size:18px;">{{source.CompleteTotal}}km</div>
                        <!--<div class="small">已完成里数</div>-->
                    </div>
                </div>

                <div class="wing right">
                    <div><small>{{source.AllTeamCount}}</small></div>
                    <div>参与团队</div>
                </div>
            </div>
            <div class="row">
                <div class="total_bg">目标总里程{{source.TagetTotal}}KM</div>
            </div>
        </div>

        <div class="body">
            <!--switch-->
            <div class="tab_btn switch">
                <button class="btn select_btn" v-on:click="Switch(1,$event)" type="button">团队</button>
                <button class="btn" v-on:click="Switch(0,$event)" type="button">个人</button>
            </div>
            <div v-show="ShowFlag">
                <table>
                    <tbody>
                        <tr v-for="(item,index) in source.Teams" :class="'ranking ranking-'+ (index+1)">
                            <td class="index">
                                <span v-if="index==0">
                                    <img src="~/Content/Image/jp01.png" class="circle" />
                                </span>
                                <span v-if="index==1">
                                    <img src="~/Content/Image/jp02.png" class="circle" />
                                </span>
                                <span v-if="index==2">
                                    <img src="~/Content/Image/jp03.png" class="circle" />
                                </span>
                                <span v-if="index>2" class="badge">
                                    {{index+1}}
                                </span>
                            </td>
                            <td class="senvenPer">{{item.name}}</td>
                            <td class="">{{item.total}}KM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div v-show="!ShowFlag">
                <table>
                    <tbody>
                        <tr v-for="(item,index) in source.TopMembers" :class="'ranking ranking-'+ (index+1)">
                            <td class="index">
                                <span v-if="index==0">
                                    <img src="~/Content/Image/jp01.png" class="circle" />
                                </span>
                                <span v-if="index==1">
                                    <img src="~/Content/Image/jp02.png" class="circle" />
                                </span>
                                <span v-if="index==2">
                                    <img src="~/Content/Image/jp03.png" class="circle" />
                                </span>
                                <span v-if="index>2" class="badge">
                                    {{index+1}}
                                </span>
                            </td>
                            <td class="">
                                <span class="headimg">
                                    <img class="circle" :src="GetUserImage(item.headimg,item.gender)" />
                                </span>
                            </td>
                            <td class="senvenPer">{{item.name}}</td>
                            <td class="">{{item.total}}KM</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="foot">
            <div class="tab_btn">
                <button class="btn" type="button" v-on:click="ShowDescription">活动规则</button>
                <a role="button" target="_blank" class="btn" :href="source.ApplyUrl">立即报名</a>
            </div>
            <div class="foot-logo">
                <img src="~/Content/Image/sub_logo_02.jpg" />
            </div>
        </div>

        <div class="description" style="display: none;">
            <div class="d_titile">活动规则</div>
            <div class="d_content">
                <p>1.用户使用【我要跑】APP记录跑步里程并上传，根据跑步里程数计算成绩</p>
                <p>2.用户需选择一个团队参与团队成绩排名</p>
                <p>3.本APP仅接受户外GPS良好环境下采集的正常跑量数据，搭载交通工具、室内跑步机、室内行走等产生的跑量不计入成绩</p>
                <h3>奖项设置</h3>
                <h3>团队奖</h3>
                <p>取团队成绩前三名的团队，分列一等奖、二等奖、三等奖，颁发奖杯奖励</p>
                <p>*取每个团队排名前十名的用户的个人成绩作为团队成绩</p>
                <h3>个人奖</h3>
                <p style="word-break;:break-all;">
                    取个人跑量总排名成绩前20名，赠送精美奖品，含书房银行公益书籍、年度护齿计划、小米盒子、小米手环、星巴克咖啡券、COSTA咖啡券等精美礼品。
                </p>
            </div>
            <div class="d_close">
                <button type="button" v-on:click="CloseDescription">
                    <img src="~/Content/Image/cross-circle.png" />
                </button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/radialIndicator.min.js"></script>


    <script type="text/javascript">

        new Vue({
            el: '#App',
            data: {
                source: {
                    TeamCount: 0,
                    MemberCount: 0,
                    TagetTotal: 0,
                    CompleteTotal: 0.0000,
                    CompletePercent: 0,
                    Teams: [],
                    TopMembers: [],
                    AllMemberCount: 0,
                    sourceUrl: '',
                    ApplyUrl: '',
                    AllTeamCount: 0
                },
                ShowFlag: 1,
                Default: {
                    HeadImage: {
                        0: '../Content/Image/default_man.png',
                        1: '../Content/Image/default_woman.png',
                    }
                },
                $indicatorContainer: {}
            },
            methods: {
                GetUserImage: function (image, gender) {
                    if (image) {
                        return this.source.sourceUrl + image;
                    }
                    return this.Default.HeadImage[gender];
                },
                Switch: function (flag, event) {
                    $(event.target).addClass('select_btn').siblings('.btn').removeClass('select_btn');
                    this.ShowFlag = flag;
                },
                ShowDescription: function () {
                    $(".description").css("display", "block");
                },
                CloseDescription: function () {
                    $(".description").css("display", "none");
                }
            },
            created: function () {
                var self = this;
                $.ajax({
                    type: "GET",
                    url: "/Home/GetsourceData",
                    dataType: "json",
                    success: function (data) {
                        console.log('sourceFromRedis:' + data.sourceFromRedis);
                        self.source = data.Data;
                        console.log('CompletePercent:' + self.source.CompletePercent);
                        self.$indicatorContainer.animate(self.source.CompletePercent);
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        console.log(textStatus);
                        console.log(errorThrown);
                    },
                    beforeSend: function () {
                        //loading
                    },
                    complete: function () {
                        //no loading
                    }
                });
            },
            mounted: function () {
                var self = this;
                self.$indicatorContainer = $('#indicatorContainer').radialIndicator({
                    //minValue: 0,
                    //maxValue: 100,
                    barColor: '#87CEEB',
                    displayNumber: false,
                    barWidth: 10,
                    roundCorner: true,
                    initValue: 0
                }).data('radialIndicator');

            }
        });
    </script>
</body>
</html>
